:root {
	--theme-back: #12171D;
	--theme-back-pos: #22272D;
	--theme-back-pos2: #32373D;
	--theme-back-neg: #02070D;
	--theme-accent1-pos: #024aca;
	--theme-accent1-neg: #00177D;
	--theme-accent2-pos: #5BA8FF;
	--theme-accent2-neg: #0A89FF;
}