:root {
	--theme-back: #151515;
	--theme-back-pos: #252525;
	--theme-back-pos2: #353535;
	--theme-back-neg: #050505;
	--theme-accent1-pos: #E03C28;
	--theme-accent1-neg: #871646;
	--theme-accent2-pos: #FFE737;
	--theme-accent2-neg: #FFBB31;
}